<body>
    <header class="header">
      <div class="infinite-marquee">
        <div class="marquee-track-fast">
          <div class="marquee-text">
            <span>Let's join</span><div>- 火箭隊培訓營 Rocket -</div><div>- 共同空間 Co-working space -</div>
          </div>
          <div class="marquee-text">
            <span>Let's join</span><div>- 火箭隊培訓營 Rocket -</div><div>- 共同空間 Co-working space -</div>
          </div>
          <div class="marquee-text">
            <span>Let's join</span><div>- 火箭隊培訓營 Rocket -</div><div>- 共同空間 Co-working space -</div>
          </div>
          <div class="marquee-text">
            <span>Let's join</span><div>- 火箭隊培訓營 Rocket -</div><div>- 共同空間 Co-working space -</div>
          </div>
          <div class="marquee-text">
            <span>Let's join</span><div>- 火箭隊培訓營 Rocket -</div><div>- 共同空間 Co-working space -</div>
          </div>
          <div class="marquee-text">
            <span>Let's join</span><div>- 火箭隊培訓營 Rocket -</div><div>- 共同空間 Co-working space -</div>
          </div>
        </div>
    </header>
</body>
