.field-and-service-container {
    padding: 80px 0;

    @include notebook {
        padding: 48px;
    }

    // 使用 notebook 版本 RWD 才 padding 會符合設計稿，但在1050px 附近會有點擠
    // 若不 RWD 整體區間都 padding 48px會比較好看，但不符設計稿
    // 最好的方式是去組件改好 RWD(carousel)，再各別 component 自擠
    // 但該部分不是我負責的範圍所以先這樣處理，等之後討論好再改

    h2 {
        text-align: center;
    }
}

.service-card-grid {
    width: 100%;
    max-width: 1076px;

    @include grid-layout;

    @include tablet {
        @include grid-layout(1, 28px, 0);
    }
}

.service-card-component {
    width: 100%;
    max-width: 1076px;
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;
    @include margin-auto;
    padding: 76px 0 80px 0; //左右padding由最外框設定，這邊只擠上下

    @include tablet {
        padding: 48px 0 40px 0; //間距很奇怪的設定，但完全按照設計稿
        gap: $spacing-2xl;
    }
}

.field-component {
    display: flex;
    flex-direction: column;
    @include margin-auto;
    margin-top: 60px;
    gap: $spacing-2xl;
    width: 100%;
    max-width: 1076px;
}

.field-component h4,
.service-card-component h4 {
    width: 74px;
    height: 42px;
    @include mark-style-orange;

    @include mobile {
        width: 53px;
        height: 30px;
    }
}