<div class="field-description-container">
    <div class="field-description-box">
        <div class="field-description-pic pic-rest"></div>
        <div class="field-description-text-area">
            <div class="field-description-text-title body-1">\ 很 chill 的休憩區 /</div>
            <p class="field-description-text-content body-4">
                我們貼心提供<span>飲水機、冰箱、微波爐、果汁機、膠囊咖啡機</span>及不定時茶包及小餅乾零食，我們想讓在工作認真打拼之餘的你也是需要中場休息補充能量，然後再輕鬆泡上一杯咖啡坐在吧台或懶骨頭放空冥想，讓自己
                chill 一下轉換心情！</p>
        </div>
    </div>

    <div class="field-description-box">
        <div class="field-description-pic pic-sofa"></div>
        <div class="field-description-text-area">
            <div class="field-description-text-title body-1">\ 舒適沙發討論區 /</div>
            <p class="field-description-text-content body-4">如果你有想要與夥伴們討論事情這裡也很適合三、五人一起共同開會討論哦！</p>
        </div>
    </div>

    <div class="field-description-box">
        <div class="field-description-pic pic-entering"></div>
        <div class="field-description-text-area">
            <div class="field-description-text-title body-1">\ 進駐者區域 / </div>
            <p class="field-description-text-content body-4">
                我們的目標是凝聚更多開發者，為他們提供一個充滿活力的交流空間。在這裡，開發者可以互相學習、分享，透過交流讓自己的技能和視野得到更快速的成長。我們相信，一個好的環境能夠激發創意，促進專業能力的提升。
                <br><br>我們希望將這樣的場域擴展至高雄，誠摯地邀請您加入我們，一起為開發者打造一個交流與學習的樂園，讓大家在這裡彼此成長，共同推動科技產業的進步。
            </p>
        </div>
    </div>
</div>