<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Now 按鈕</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+TC:wght@100..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="register-now-btn-box">
        <h3 class="register-now-btn-text">馬上報名 ! </h3>
        <div class="register-now-btn-icon"><img src="/assets/icon/ic-go-rocket.svg" alt="go-icon"></div>
    </div>
</body>

</html>