.index {
  main {
    .rocket-banner {
      margin-top: 0;
      position: relative;
      z-index: 1;
    }

    .about-rocket {
      margin-top: -$spacing-s;
      position: relative;
      z-index: 2;
    }

    .about-training {
      hgroup h2 {
        margin-top: -28px;
      }
    }

    .training-box {
      @include mobile {
          padding-bottom: 76px;
      }
    }
  }
}
