main {
  padding-top: 64px;

  .rocket-banner {
    margin-top: 0;
    position: relative;
    z-index: 1;
  }

  .about-rocket {
    margin-top: -$spacing-s;
    position: relative;
    z-index: 2;
  }
}
