.rocket-banner {
  margin-top: $spacing-8xl;
  background-image: url(../assets/banner/banner-bg.png);
  min-height: 757px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: $spacing-8xl;
  padding: 127px 70px 182px;
}

.rocket-card-wrap,
.coworking-card-wrap {
  position: relative;
}

.rocket-card,
.coworking-card {
  width: 440px;
  height: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  background: $neutral-0;
  border: 1px solid $neutral-200;
  border-radius: $radius-lg;
  box-shadow: none;
  position: relative;
}

.rocket-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}

.rocket-card-title {
  margin: 0;
  font-size: $fs-h1;
  font-weight: 700;
  font-family: $font-main;
  text-align: center;
}

.rocket-card-subtitle {
  margin: 4px 0 $spacing-m;
  font-size: $fs-body1;
  color: $neutral-500;
  text-align: center;
  font-family: $font-main;
}

.rocket-card-logo {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 24px;
}

.rocket-card-logo img {
  width: 100px;
  height: 100px;
  display: block;
  object-fit: contain;
}

.rocket-card-content {
  margin: 0;
  font-weight: 700;
  font-size: $fs-body2;
  line-height: 175%;
  text-align: center;
  font-family: $font-main;
}

.rocket-divider {
  font-size: $fs-h1;
  font-weight: 700;
  line-height: 1;
  font-family: $font-main;
}

.rocket-badge,
.coworking-badge {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $neutral-0;
}

.rocket-badge::before,
.coworking-badge::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  pointer-events: none;
  clip-path: inset(50% 0 0 0);
  transform: translateY(10px);
}

.rocket-badge::before {
  background: $primary-blue-200;
}

.coworking-badge::before {
  background: $primary-violet-200;
}

.rocket-badge-icon,
.coworking-badge-icon {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.rocket-badge-mb,
.coworking-badge-mb {
  display: none;
}

.rocket-card-link,
.coworking-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  max-width: 332px;
}

@media (max-width: 428px) {
  .rocket-banner {
    flex-direction: column;
    gap: 48px;
    padding: 40px 16px 80px;
    min-height: 0;
    overflow: visible;
  }

  .rocket-divider {
    display: none;
  }

  .rocket-card-content {
    display: none;
  }

  .rocket-badge,
  .coworking-badge {
    display: none;
  }

  .rocket-card-max{
    width: 100%;
    max-width: 294px;
    margin: 0;
    align-items: center;
    display: visible;
  }

  .rocket-card-wrap,
  .coworking-card-wrap {
    width: 100%;
    max-width: 332px;
    margin: 0 48px;
    position: relative;
    padding: 0 12px;
  }

  .rocket-card {
    width: 100%;
    height: 132px;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid $neutral-300;
    background: $neutral-0;
    box-shadow: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .coworking-card {
    width: 100%;
    height: 132px;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid $neutral-300;
    background: $neutral-0;
    box-shadow: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .rocket-card-header {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  .rocket-card-title {
    margin: 0;
    font-size: $fs-m-h1;
    text-align: left;
    position: relative;
    padding-left: 56px;
    display: inline-flex;
    align-items: center;
}


  .rocket-card-subtitle {
    margin: 4px 0 0;
    font-size: $fs-m-body1;
    line-height: 1.2;
    text-align: left;
    color: $neutral-500;
  }

  .rocket-card-logo {
  position: absolute;
  left: 24px;
  top: 36%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  margin: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

  .rocket-card-logo img {
  width: 48px;
  height: 48px;
  display: block;
}

  .rocket-badge-mb {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(70%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $neutral-0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: visible;
  }

  .coworking-badge-mb {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(70%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $neutral-0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: visible;
  }

  .rocket-badge-mb-bg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(0, -50%);
    z-index: -1;
    pointer-events: none;
    clip-path: inset(0 0 0 49%);
    background: $primary-blue-200;
  }
  
  .coworking-badge-mb-bg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(0, -50%);
    z-index: -1;
    pointer-events: none;
    clip-path: inset(0 0 0 49%);
    background: $primary-violet-200;
  }

  .rocket-badge-icon-mb,
  .coworking-badge-icon-mb {
    display: block;
    width: 60px;
    height: 60px;
    transform: translateX(6px);
  }

  .rocket-badge-icon,
  .coworking-badge-icon {
    display: none;
  }
}


