<body>
    <section class="rocket-banner">
      <div class="rocket-card">
        <hgroup class="rocket-card-header">
          <h2 class="rocket-card-title">火箭隊<br></h2>
          <p class="rocket-card-subtitle body-1">Bootcamp Rocket</p>
        </hgroup>
        <div class="rocket-card-logo">
          <img src="../assets/banner/banner-logo-rocket-lg.svg" alt="logo image">
        </div>
        <p class="rocket-card-content"># 軟體工程師培訓營</p>
        <p class="rocket-card-content"># 全程免費的扎實訓練</p>
        <p class="rocket-card-content"># 帶你翻轉人生！</p>
        <div class="rocket-badge">
          <img class="rocket-badge-icon" src="../assets/banner/banner-btn-rocket-lg.svg" alt="logo-image">
        </div>
        <div class="rocket-badge-mb">
          <img class="rocket-badge-icon-mb" src="../assets/banner/banner-btn-rocket-sm.svg" alt="logo-image">
        </div>
      </div>
        <div class="rocket-divider">X</div>
        <div class="coworking-card">
            <hgroup class="rocket-card-header">
              <h2 class="rocket-card-title">共同空間<br></h2>
              <p class="rocket-card-subtitle body-1">Co-working Space</p>
            </hgroup>
            <div class="rocket-card-logo">
              <img src="../assets/banner//banner-logo-coworking-lg.svg" alt="logo image">
            </div>
            <p class="rocket-card-content"># 超 chill 的共同工作場域</p>
            <p class="rocket-card-content"># 餅乾、零食、咖啡應有盡有</p>
            <p class="rocket-card-content"># 等你來一同交流成長</p>
            <div class="coworking-badge">
              <img class="coworking-badge-icon" src="../assets/banner/banner-btn-coworking-lg.svg" alt="coworking-img">
            </div>
            <div class="coworking-badge-mb">
              <img class="coworking-badge-icon-mb" src="../assets/banner/banner-btn-coworking-sm.svg" alt="coworking-img">
            </div>
        </div>
    </section>
</body>