<div class="about-card">
  <div class="card-body">
    <div class="card-text-wrapper">
      <div class="card-text">
        <h3 class="card-title">前端工程師</h3>
        <div class="badge-group">
          <span class="badge badge-outline body-3">HTML</span>
          <span class="badge badge-outline body-3">CSS</span>
          <span class="badge badge-outline body-3">JavaScript</span>
        </div>
      </div>
      <p class="body-1">Front-end engineer</p>
    </div>
    <div class="img-wrapper">
      <img
        src="/assets/group/about-rocket-frontend.svg"
        alt="Front-end engineer"
      />
    </div>
  </div>
</div>
