<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+TC:wght@100..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="coach-info-card">
        <div class="coach-info-box">
            <img src="/assets/coach/coach-yinmin-3x.png" alt="coach-pic">
            <div class="coach-info-btn">5</div>
        </div>
    </div>
</body>

</html>