<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- 字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
        <div class="carousel-container">
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel1-lg.png" alt="sofa image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel2-lg.png" alt="discuss image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel3-lg.png" alt="workspace image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel4-lg.png" alt="record image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel5-lg.png" alt="meeting image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel6-lg.png" alt="rest image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel7-lg.png" alt="window image">
            </div>
            <div class="carousel-photo">
                <img src="/assets/carousel/carousel8-lg.png" alt="book image">
            </div>
        </div>
        <div class="carousel-container-mb">
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel1-sm.png" alt="sofa image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel2-sm.png" alt="discuss image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel3-sm.png" alt="workspace image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel4-sm.png" alt="record image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel5-sm.png" alt="meeting image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel6-sm.png" alt="rest image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel7-sm.png" alt="window image">
            </div>
            <div class="carousel-photo-mb">
                <img src="/assets/carousel/carousel8-sm.png" alt="book image">
            </div>
        </div>
    </section>
  </body>
</html>