<ul class="detail-card-wrapper">
  <li class="detail-card">
    <div class="detail-card-title">
      <h3 class="body-1">前端工程師</h3>
    </div>
    <div class="card-body">
      <ul class="card-content-wrapper">
        <li class="card-content">
          <h4 class="body-2">關於前端</h4>
          <p>
            主要專精 JavaScript 前端 (65%)、後端 (35%) 開發，投入語言為
            HTML、CSS、JavaScript，<span class="mark-style"
              >適合有一些 HTML、CSS、JS 基礎的學員報名</span
            >。
          </p>
        </li>
        <li class="card-content">
          <h4 class="body-2">應徵門檻</h4>
          <ol>
            <li>
              會用 CSS Flexbox 排過網頁，有 RWD 響應式網頁概念，需提交 CSS
              切版作品，請<span class="mark-style"
                >在履歷上需附網頁切版作品</span
              >，Codepen、GitHub Pages 皆可
            </li>
            <li>
              了解 JS 變數、陣列物件、DOM、監聽、AJAX 等知識，尚未熟練也沒關係。
            </li>
          </ol>
        </li>
        <li class="card-content">
          <h4 class="body-2">你會學到</h4>
          <ol>
            <li>網頁切版技能：HTML5、CSS3、SCSS、Bootsrap5、TailwindCSS</li>
            <li>
              前端開發技能：JavaScript、TypeScript、ES6、SPA、JS plugin
              整合、API 介接、NPM
            </li>
            <li>後端開發技能：Node.js、MongoDB、heroku、express、JWT</li>
            <li>
              JS 框架：React(Hooks)、Vue3，會依照未來你想投入的公司進行調整
            </li>
            <li>程式版控：Git、GitHub、Git Flow 工作流程</li>
          </ol>
        </li>
      </ul>
      <div class="img-wrapper">
        <img
          src="/assets/training/training-img-frontend-lg.svg"
          alt="training-img-frontend-lg"
        />
      </div>
    </div>
  </li>
</ul>
