.successful-case-container {
    @include flex-center;
    @include margin-auto;
    padding: 92px 72px 120px;

    @include large-notebook {
        padding: 48px 48px 92px;
    }
}

.successful-case-box {
    @include flex-center-col(28px);
    width: 100%;
    max-width: 1296px;
    height: 510px;
    justify-content: space-between;

    @include large-notebook {
        height: 406px;
    }
}

.successful-case-box-title {
    width: 100%;
    text-align: center;
}

.successful-case-box-4pic {
    @include flex-center(24px);

    img {
        width: 100%;
        max-width: 306px;
        aspect-ratio: 306 / 204;

        @include large-notebook {
            width: 240px;
            min-width: 240px;
            aspect-ratio: 240 / 160;
        }
    }
}

.successful-case-box-scroll {
    @include flex-center-col(28px);
    width: 100%;

    @include large-notebook {
        @include horizontal-scroll(24px); //滾動mixins
        //若要改mixins參數請通知我，例如滑動條太礙眼，想取消之類的
    }

    @include notebook {
        align-items: flex-start;
    }
}
