.successful-case-container {
    @include flex-center;
    @include margin-auto;
    height: 694px; //設計稿沒高度 用92+92+510px反推
    padding: 92px 0;
}

.successful-case-box {
    @include flex-center-col(28px);
    width: 100%;
    max-width: 1296px;
    height: 510px;
    justify-content: space-between;
}

.successful-case-box-title {
    width: 100%;
    text-align: center;
}

.successful-case-box-4pic {
    @include flex-center(24px);

    img {
        width: 100%;
        max-width: 306px;
        aspect-ratio: 306 / 204;

        @include big-notebook {
            width: 240px;
            min-width: 240px;
            aspect-ratio: 240 / 160;
        }
    }
}

.successful-case-box-scroll {
    @include flex-center-col(28px);
    width: 100%;

    @include big-notebook {
        @include horizontal-scroll(24px); //滾動mixins
        //若要改mixins參數請通知我，例如滑動條太礙眼，想取消之類的
    }

    @include notebook {
        //notebook=1024px，若改成1035px才會是最完美RWD，但1035不常用
        align-items: flex-start;
        padding: 92px 48px;
    }
}