.service-card-wrapper {
  .service-card {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;
  }
  .img-wrapper img {
    width: 120px;
    height: 120px;
  }
  .card-text {
    max-width: 244px;
    text-align: center;
    .body-3 {
      font-size: 18px;
      margin-bottom: $spacing-xxs;
    }
    p {
      color: $neutral-600;
      font-size: 14px;
    }
  }

  @media (max-width: 428px) {
    .service-card {
      max-width: 332px;
      flex-direction: row;
      align-items: flex-start;
      gap: $spacing-m;
    }
    .img-wrapper img {
      width: 48px;
      height: 48px;
    }
    .card-text {
      max-width: none;
      text-align: left;
      .body-3 {
        font-size: $fs-m-body3;
        margin-bottom: $spacing-xs;
      }
    }
  }
}
