.location-section {
  display: flex;
  justify-content: center;
}

.location-card {
  width: 1440px;
  height: 540px;
  background: $primary-violet-200;
  border-radius: $radius-ex-lg;
  padding: 60px 72px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 636px 500px;
  column-gap: 100px;
  align-items: start;
}

.location-map {
  width: 636px;
  height: 420px;
  border-radius: $radius-md;
  overflow: hidden;
}

.location-map img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.location-info {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.location-eyebrow {
  font-size: $fs-body2;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: $font-main;
  margin-bottom: $spacing-l;
}

.location-title {
  margin: 0 0 $spacing-5xl;
}

.location-desc {
  margin: 0;
  font-size: $fs-body3;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: $font-main;
  color: $neutral-700;
}

.location-desc strong {
  font-weight: 700;
}

@media (max-width: 1439px) {

  .location-card {
    width: calc(100% - 32px);
    height: auto;
    padding: $spacing-4xl;
    border-radius: $radius-md;

    display: flex;
    flex-direction: column;
    gap: $spacing-xl;

    .location-info {
      width: 100%;
      order: 1;
    }

    .location-eyebrow {
      font-size: $fs-m-body4;
      margin-bottom: $spacing-xs;
    }

    .location-title {
      margin-bottom: $spacing-m;
    }

    .location-desc {
      font-size: $fs-m-body3;
    }

    .location-map {
      width: 100%;
      height: 240px;
      border-radius: $radius-md;
      order: 2;
    }
  }
}