.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;   
}
.component-footer{
    margin: 36px 0 36px ;
    color:$neutral-700;
    text-align: center;
}
.footer-dash{
    text-align: center;
}

.footer-br{
    display:none;
    flex-basis: 100%;
    height: 0; 
}

@media (max-width: 768px){
.component-footer{
    margin: 20px 0 20px ;
    color:$neutral-700;
}

.footer{
    flex-wrap: wrap;
}

.footer-dash{
    display: none;
}

.footer-br {
    display: block;
}

}