.component-footer{
    margin: 36px 0 36px ;
    text-align: center;
    color:$neutral-700;
}
.footer-break{
    display:inline;
}
@media (max-width: 768px){
    .footer-break{
        display:block;
    }
}