/* 顏色 */
$primary-blue-100: #E5EBFF;
$primary-blue-200: #BFC9F0;
$primary-blue-300: #A6B6F1;
$primary-blue-400: #7F94E2;

$primary-violet-100: #F5F1FF;
$primary-violet-200: #EEE5FF;
$primary-violet-300: #CAB2F1;
$primary-violet-400: #B28FEA;

$accent-yellow: #FFEEA3;
$accent-orange: #FFD887;

$neutral-0: #FFFFFF;
$neutral-100: #F8F9FD;
$neutral-200: #F0F0F0;
$neutral-300: #E0E0E0;
$neutral-400: #CDCDCD;
$neutral-500: #9A9A9A;
$neutral-600: #757575;
$neutral-700: #363636;

/* 圓角 */
$radius-ex-lg: 40px;
$radius-lg: 24px;
$radius-md: 16px;
$radius-sm: 12px;

/* 字體：英文中文使用字體不同 */
$font-main: 'Josefin Sans', 'Noto Sans TC', sans-serif;

/* 字級 */
$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 32px;
$fs-h4: 28px;
$fs-body1: 24px;
$fs-body2: 20px;
$fs-body3: 16px;

$fs-m-h1: 32px;
$fs-m-h2: 28px;
$fs-m-h3: 24px;
$fs-m-h4: 20px;
$fs-m-body1: 20px;
$fs-m-body2: 18px;
$fs-m-body3: 16px;
$fs-m-body4: 14px;

/* 間距系統 */
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 20px;
$spacing-xl: 24px;
$spacing-2xl: 28px;
$spacing-3xl: 32px;
$spacing-4xl: 36px;
$spacing-5xl: 40px;
$spacing-6xl: 48px;
$spacing-7xl: 56px;
$spacing-8xl: 64px;
$spacing-9xl: 80px;