@import "./reset";
@import "./variables";
@import "./mixins";
@import "./base";
@import "../components/register-now-btn/register-now-btn";
@import "../components/coach-info/coach-info";
@import "../components/header/header-marquee";
@import "../components/about-card/about-card";