@import "./reset";
@import "./variables";
@import "./mixins";
@import "./base";
@import "../components/register-now-btn/register-now-btn";
@import "../components/coach-info/coach-info";
@import "../components/header/header-marquee";
@import "../components/about-card/about-card";
@import "../components/field-description/field-description";
@import "../components/detail-card/detail-card";
@import "../components/service-card/service-card";
@import "../sections/successful-case/successful-case";
@import "../sections/organizing-unit/organizing-unit";
@import "../sections/training/training";
@import "../components/carousel/carousel-row";
@import "../components/footer/feature-componet-footer";
@import "../sections/about-rocket/about-rocket";
@import "../sections/map/map";
@import "../sections/about-training/about-training";
