@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 顏色 */
/* 圓角 */
/* 字體：英文中文使用字體不同 */
/* 字級 */
/* 間距系統 */
h1 {
  font-size: var(48px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  h1 {
    font-size: var(32px);
  }
}

h2 {
  font-size: var(36px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  h2 {
    font-size: var(28px);
  }
}

h3 {
  font-size: var(32px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  h3 {
    font-size: var(24px);
  }
}

h4 {
  font-size: var(28px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  h4 {
    font-size: var(20px);
  }
}

.body-1 {
  font-size: var(24px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  .body-1 {
    font-size: var(20px);
  }
}

.body-2 {
  font-size: var(20px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  .body-2 {
    font-size: var(18px);
  }
}

.body-3 {
  font-size: var(16px);
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: var("Josefin Sans", "Noto Sans TC", sans-serif);
}
@media (max-width: 428px) {
  .body-3 {
    font-size: var(16px);
  }
}

.rocket-banner {
  margin-top: 64px;
  background-image: url(../assets/banner/banner-bg.png);
  min-height: 757px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 127px 18px 182px;
}

.rocket-card {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 448px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #F0F0F0;
  box-shadow: 0 8px 24px #BFC9F0;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 24px 0;
}

.coworking-card {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 448px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #F0F0F0;
  box-shadow: 0 8px 24px #BFC9F0;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 24px 0;
}

.rocket-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}

.rocket-card-title {
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
}

.rocket-card-subtitle {
  margin: 4px 0 0;
  font-size: 24px;
  color: #9A9A9A;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 16px;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
}

.rocket-card-content {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 0;
  line-height: 175%;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
}

.rocket-divider {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
}

.rocket-card-logo {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 2px solid #F0F0F0;
  display: grid;
  place-items: center;
  margin-bottom: 24px;
}

.rocket-card-logo img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.rocket-badge {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 20px 0 #BFC9F0;
  background-image: radial-gradient(circle at center bottom, #BFC9F0 50%, transparent 60%);
}

.rocket-badge-icon {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.rocket-badge-icon-mb {
  display: none;
}

.coworking-badge {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 20px 0 #EEE5FF;
  background-image: radial-gradient(circle at center bottom, #EEE5FF 50%, transparent 60%);
}

.coworking-badge-icon {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.coworking-badge-icon-mb {
  display: none;
}

@media (max-width: 768px) {
  .rocket-divider {
    display: none;
  }
  .rocket-card-content {
    display: none;
  }
  .rocket-badge {
    display: none;
  }
  .coworking-badge {
    display: none;
  }
  .rocket-banner {
    flex-direction: column;
    gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .rocket-card {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    height: 84px;
    padding: 14px 56px 14px 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
  }
  .coworking-card {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    height: 84px;
    padding: 14px 56px 14px 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
  }
  .rocket-card-left {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 0;
    flex: 1;
  }
  .rocket-card-logo {
    order: 0;
  }
  .rocket-card-header {
    order: 1;
  }
  .rocket-card-logo {
    position: absolute;
    left: 10%;
    top: 34%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    flex: 0 0 auto;
  }
  .rocket-card-logo img {
    width: 32px;
    height: 32px;
    display: block;
  }
  .rocket-card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 0;
    margin: 0;
  }
  .rocket-card-title {
    padding-left: 30px;
    font-size: 32px;
    margin: 0;
    text-align: center;
    max-width: 100%;
  }
  .rocket-card-subtitle {
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.08em;
    color: #9A9A9A;
    width: 200px;
  }
  .rocket-badge-mb {
    position: absolute;
    top: 50%;
    right: -18px;
    left: auto;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 20px 0 0 #BFC9F0;
  }
  .coworking-badge-mb {
    position: absolute;
    top: 50%;
    right: -18px;
    left: auto;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 20px 0 0 #EEE5FF;
  }
  .rocket-badge-icon-mb,
  .coworking-badge-icon-mb {
    transform: translateX(10px);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .rocket-badge-icon,
  .coworking-badge-icon {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */