

:root{
    /* 顏色 */
    --primary-blue-100:#E5EBFF;
    --primary-blue-200:#BFC9F0;
    --primary-blue-300:#A6B6F1;
    --primary-blue-400:#7F94E2;

    --primary-viloet-100:#F5F1FF;
    --primary-viloet-200:#EEE5FF;
    --primary-viloet-300:#CAB2F1;
    --primary-viloet-400:#B28FEA;

    --accent-yellow:#FFEEA3;
    --accent-orange:#FFD887;

    --neutral-0:#FFFFFF;
    --neutral-100:#F8F9FD;
    --neutral-200:#F0F0F0;
    --neutral-300:#E0E0E0;
    --neutral-400:#CDCDCD;
    --neutral-500:#9A9A9A;
    --neutral-600:#757575;
    --neutral-700:#363636;

/* 字體：英文中文使用字體不同 */
    --font-main: 'Josefin Sans', 'Noto Sans TC', sans-serif;

/* 字級 */
    --fs-h1: 48px;
    --fs-h2: 36px;
    --fs-h3: 32px;
    --fs-h4: 28px;
    --fs-body1: 24px;
    --fs-body2: 20px;
    --fs-body3: 16px;
}

@media (max-width: 428px) {
    :root {
        --fs-h1: 32px;
        --fs-h2: 28px;
        --fs-h3: 24px;
        --fs-h4: 20px;
        --fs-body1: 20px;
        --fs-body2: 18px;
        --fs-body3: 16px;
    }
}
